.f-input-wrapper {
  display: flex;
  flex-direction: column;
  gap: 8px;

  .label {
    font-size: 14px;
    font-weight: 600;
    color: #333;
    display: block;
  }

  .f-input-container {
    position: relative;
    display: flex;
    align-items: center;

    &.error .f-input {
      border-color: #ea6a6a;
    }

    &.error .icon {
      color: #ea6a6a;
    }

    .f-input {
      width: 100%;
      padding: 7px 14px;
      padding-left: 38px;
      font-size: 14px;
      border: 1px solid #c5c5c5;
      border-radius: 5px;
      outline: none;
      transition: border-color 0.3s linear;
      font-weight: 400;

      &::placeholder {
        color: #757575;
      }

      &:focus {
        border-color: #000000;
      }

      &:focus {
        border-color: #000000;
      }

      &:disabled {
        background-color: #ececec;
        cursor: not-allowed;
        color: #999;
      }
    }

    .icon {
      position: absolute;
      left: 12px;
      display: flex;
      align-items: center;
      color: #757575;
      pointer-events: none;
      transition: all .3s;

      svg {
        width: 16px;
        height: 16px;
      }
    }

    .reset-icon {
      position: absolute;
      right: 7px;
      display: flex;
      align-items: center;
      justify-content: center;
      background: none;
      border: none;
      cursor: pointer;
      color: #999;
      padding: 4px;
      transition: color 0.3s linear;

      &:hover {
        color: #333;
      }

      svg {
        width: 16px;
        height: 16px;
      }
    }

    &.focused .icon {
      color: #000000;
    }
  }

  .error-message {
    position: relative;
    top: -5px;
    font-size: 12px;
    color: #ea6a6a;
    display: block;
  }
}
