// @import "../../styles/mixins";

.sorting-box {
  background: #ddd;
  border: solid 1px #ddd;
  border-radius: 5px;
  position: relative;

  //   @include media-breakpoint-up(lg) {
  //     display: flex;
  //   }

  &-list {
    display: flex;
    position: relative;
    width: 100%;
    z-index: 2;
    list-style: none;
    margin: 0;
    padding: 0;

    &::-webkit-scrollbar {
      display: none;
    }

    li {
      align-items: center;
      flex: 1;
      margin-right: 1px;
      position: relative;
      z-index: 2;
      font-size: 14px;
      cursor: pointer;
      border-radius: 5px;
      color: #000;
      display: flex;
      height: 100%;
      justify-content: center;
      padding: 7px 5px;
      text-align: center;
      transition: background 0.3s;
      user-select: none;
      gap: 8px;

      .tab-icon {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-shrink: 0;
      }

      &:hover {
        background: #efefef;
      }

      &:focus {
        outline: none;
        background: transparent;
      }

      &:active {
        background: #f9f9f9;
      }

      &.active {
        background: transparent;
      }

      &:last-child {
        margin-right: 0;
      }
    }
  }

  .indicator {
    background-color: #fff;
    border-radius: 4px;
    bottom: 0;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    transition: left 0.3s ease-in-out;
    width: 100%;
    z-index: 1;

    &.count_2 {
      width: 50%;
    }

    &.count_3 {
      width: 33.33%;
    }

    &.count_4 {
      width: 25%;
    }

    &.count_5 {
      width: 20%;
    }
  }

  &.transparent {
    background-color: transparent;
    border: none;
    border-bottom: 1px solid #ddd;
    border-radius: 0;

    ul {
      li {
        height: 45px;
        padding: 0;
        background: transparent;
        border-radius: 0;

        &:hover {
          background: transparent;

          &:after {
            opacity: 0.5;
          }
        }

        &:after {
          background-color: #ffa700;
          border-radius: 10px;
          bottom: 0;
          content: "";
          height: 4px;
          left: 0;
          opacity: 0;
          position: absolute;
          transition: opacity 0.2s linear;
          width: 100%;
          display: block;
        }

        &.active {
          background: transparent;

          &:after {
            opacity: 1;
          }
        }
      }
    }

    .indicator {
      display: none;
    }
  }
}
