@keyframes FadeInTop {
  0% {
    transform: translate(-50%, -100%);
    opacity: 0;
  }
  100% {
    transform: translate(-50%, -50%);
    opacity: 1;
  }
}

@keyframes FadeInRight {
  0% {
    transform: translateX(25%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

.modal-overlay {
  width: 100vw;
  height: 100vh;
  position: absolute;
  background-color: #00000080;
  top: 0;
  left: 0;
  user-select: none;
}

.container {
  position: absolute;
  display: flex;
  flex-direction: column;
  row-gap: 10px;
  width: 300px;
  min-height: 200px;
  background: #fff;
  border-radius: 10px;
  box-shadow: 0px 4px 8px 0px #6060601a;
  padding: 12px 16px;

  &.center {
    left: 50%;
    top: 50%;
    animation: FadeInTop 0.3s ease-out forwards;
  }

  &.right {
    right: 0;
    top: 0;
    animation: FadeInRight 0.3s ease-out forwards;
    height: 100%;
  }

  .header {
    display: flex;
    justify-content: space-between;
    height: 30px;
    align-items: center;

    .title {
      font-size: 16px;
      font-weight: 500;
    }

    .icon {
      width: 20px;
      height: 20px;
      cursor: pointer;
    }
  }

  .content {
    flex: 1;
  }

  .footer {
    display: flex;
    justify-content: end;
    gap: 8px;

    button {
      background-color: #ffa900;
      color: #fff;
      border: none;
      border-radius: 5px;
      padding: 8px 16px;
      height: 36px;
      font-size: 14px;
      font-weight: 400;
      cursor: pointer;
    }
  }
}
