.range-container {
  display: flex;
  flex-direction: column;
  row-gap: 12px;
  width: 340px;

  .range-info {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .range-label {
      display: flex;
      column-gap: 12px;

      .text {
        position: relative;

        &::after {
          content: "*";
          position: absolute;
          right: -8px;
          color: #757575;
        }
      }
    }

    .percentage,
    .text {
      color: #000;
      font-weight: 400;
      font-size: 12px;
    }
  }

  .range-fill-area {
    height: 8px;
    // background-color: #ececec;
    background-color: #bcbcbc;
    border-radius: 30px;

    .percentage {
      height: 100%;
      background-color: #2e1098;
      border-radius: 30px;
      display: flex;
      position: relative;

      &::after {
        position: absolute;
        top: -4px;
        right: -12px;
        content: "";
        width: 16px;
        height: 16px;
        border: 3px solid var(--fill-color, #2e1098);
        border-radius: 50%;
        background-color: #fff;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 10px;
        color: var(--fill-color, #2e1098);
        font-weight: 600;
      }
    }
  }
}
