.checkbox {
  align-items: center;
  display: flex;

  &.blue {
    .custom-icon {
      &.checked {
        border-color: #2E1098;
        background-color: #2E1098;
      }
    }
    &:not(.disabled) {
      label {
        &:active {
          .custom-icon {
            box-shadow: 0 0 0 2px #b3daff;
          }
        }
        &:hover {
          .custom-icon {
            &.unchecked {
              border-color: #2E1098;
            }

            &.checked {
              border-color: #1A0758;
              background-color: #1A0758;
            }
          }
        }
      }
    }
  }

  label {
    align-items: center;
    display: flex;
    position: relative;
    cursor: pointer;
  }

  &:not(.disabled) {
    label {
      &:hover {
        .custom-icon {
          &.unchecked {
            border-color: #FFA900;
          }

          &.checked {
            border-color: #e89800;
            background-color: #e89800;
          }
        }
      }
    }
  }

  input {
    opacity: 0;
    position: absolute;
    z-index: -1;
    visibility: hidden;
  }

  .text {
    margin-left: 10px;
    user-select: none;
    font-size: 14px;
  }

  .custom-icon {
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    width: 24px;
    height: 24px;
    border: 2px solid #C5C5C5;
    background-color: #fff;
    position: relative;
    border-radius: 5px;
    box-sizing: border-box;
    transition: background-color 0.2s linear, border-color 0.2s linear, box-shadow 0.2s linear;

    &.checked {
      border-color: #ffa700;
      background-color: #ffa700;

      .icon-check {
        opacity: 1;
        color: #fff;
      }
    }

    &.unchecked {
      .icon-check {
        opacity: 0;
      }
    }

    .icon-check {
      transition: opacity 0.2s linear;
      opacity: 0;
    }
  }

  &.disabled {
    cursor: not-allowed;

    label {
      cursor: not-allowed;
    }

    .text {
      opacity: 0.5;
    }

    .custom-icon {
      background-color: #efefef;
      border-color: #ddd;
      cursor: not-allowed;

      &.checked {
        background-color: #ddd;
        border-color: #ddd;
      }
    }
  }
}
